.root {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    padding: 2rem;
}

.root:has(div:nth-child(2)){
    width: 80%;
    margin-inline: auto;
    align-items: initial;
    justify-content: initial;
    grid-template-columns: repeat( 2, auto );
}

.root:has(div:nth-child(3)){
    width: initial;
    margin-inline: initial;
    grid-template-columns: repeat( 3, auto );
}

.root:has(div:nth-child(4)){
    grid-template-columns: repeat( 4, auto );
}

@media (max-width: 1000px){
    .root {
        grid-template-columns: repeat( 3, auto );
    }

    .root:has(div:nth-child(4)){
        grid-template-columns: repeat( 3, auto );
    }

}

@media (max-width: 600px){
    .root {
        grid-template-columns: repeat( 2, auto );
    }

    .root:has(div:nth-child(3)){
        grid-template-columns: repeat( 2, auto );
    }

    .root:has(div:nth-child(4)){
        grid-template-columns: repeat( 2, auto );
    }

}

@media (max-width: 500px){
    .root {
        grid-template-columns: repeat( 1, auto );
    }

    .root:has(div:nth-child(1)){
        grid-template-columns: repeat( 1, auto );
    }   

    .root:has(div:nth-child(3)){
        grid-template-columns: repeat( 1, auto );
    }

    .root:has(div:nth-child(4)){
        grid-template-columns: repeat( 1, auto );
    }


}