.root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.group {
    background-color: var(--clr-light);
    border: 2px  solid var(--clr-black);
    padding: 2rem;
    display: flex;
}

.group legend{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--clr-white);
    padding: 0.5rem;
    border: 3px solid var(--clr-btn);
}

.group span {
    text-transform: capitalize;
    font-weight: 600;
    padding-block: 0.2rem;
}

.group label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.group input, .group textarea{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    outline: none;
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-weight: 600;

    &:focus{
        border-color: var(--clr-btn);
    }
}

.group fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.fileInput {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        width: 400px;
        height: 100%;
    }
}

@media (max-width: 1000px) {

    .wrapper{
        padding-inline: 0;
    }

    .group{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .group legend{
        text-align: center;
    }

    .fileInput {
        padding-inline: 0;
        padding-bottom: 1rem;
        text-align: center;
        align-items: center;
        img{
            width: 250px;
        }
    }
}