.root {
    background-color: var(--clr-darkBtn);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.root input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}