.root {
    color: var(--clr-black);
    border: 1px solid var(--clr-black);
    padding: 0.5rem 1rem;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        background-color: var(--clr-btn);
        color: var(--clr-white);
    }
}

.submit {
    color: var(--clr-white);
    border: 1px solid var(--clr-btn);
    padding: 0.5rem 1rem;
    background-color: var(--clr-btn);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        background-color: var(--clr-white);
        color: var(--clr-btn);
    }
}

.remove {
    color: var(--clr-white);
    border: 1px solid var(--clr-red);
    padding: 0.5rem 1rem;
    background-color: var(--clr-red);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        background-color: var(--clr-white);
        color: var(--clr-red);
    }
}