.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.group {
    background-color: var(--clr-light);
    border: 2px  solid var(--clr-black);
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.group legend{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--clr-white);
    padding: 0.5rem;
    border: 3px solid var(--clr-btn);
}

.group label {
    text-transform: capitalize;
    font-weight: 600;
    padding-block: 0.2rem;
}

.group span {
    display: block;
}

.group input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    outline: none;

    &:focus {
        border: 2px solid var(--clr-btn);
    }
}

fieldset {
    border: none;
}

.inputGroup, .avatar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    img{
        width: 400px;
    }
}


@media (max-width: 1000px) {

    .wrapper{
        padding-inline: 0;
    }

    .group{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .group legend{
        text-align: center;
    }

    .avatar {
        text-align: center;
        align-items: center;
        img{
            width: 250px;
        }
    }
}