:root {
    --clr-darkBrown: #261C14;
    --clr-midBrown: #594736;
    --clr-lightBrown: #8C715A;
    --clr-paper: #D9BD9C;

    --clr-light: #F5F5F5;
    --clr-btn: #3C948B;
    --clr-darkBtn: #343734;
    --clr-background: #E1E3E5;
    --clr-red: #D92E1E;
    --clr-white: #fff;
    --clr-black: #000;
}